@use '../mixins/mixins.scss' as *;
@use '../mixins/var.scss' as *;
@use '../mixins/function.scss' as *;
@use '../common/var.scss' as *;

@include b('radio') {
  @include set-component-css-var('radio', $radio);
}

@include b('radio') {
  display: inline-block;
  line-height: 1;
  text-align: center;
  padding: 10px 20px;
  margin-right: 5px;
  background-color: getCssVar('radio', 'bg-color');
  color: getCssVar('radio', 'text-color');
  border-radius: 4px;
  cursor: pointer;

  input {
    position: absolute;
    appearance: none;
  }

  &:hover {
    background-color: getCssVar('radio', 'bg-color-hover');
  }

  &_checked {
    background-color: getCssVar('radio', 'bg-color-checked');
    color: getCssVar('radio', 'text-color-checked');
  }
}

@include b('radio-group') {
  display: flex;
}
