@use '../mixins/mixins.scss' as *;
@use '../mixins/var.scss' as *;
@use '../mixins/function.scss' as *;
@use '../common/var.scss' as *;

@include b('switch') {
  @include set-component-css-var('switch', $switch);
}

@include b('switch') {
  position: relative;
  width: getCssVar('switch', 'width');
  height: getCssVar('switch', 'height');
  border-radius: 25%/50%;
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  &_on {
    background-color: getCssVar('switch', 'bg-color-on');
  }

  &_off {
    background-color: getCssVar('switch', 'bg-color-off');
  }
}

@include b('switch') {
  @include m('core') {
    position: absolute;
    width: calc(getCssVar('switch', 'height') - 4px);
    height: calc(getCssVar('switch', 'height') - 4px);
    border-radius: 50%;
    background-color: getCssVar('switch', 'core-color');
    transition: left 0.5s;

    &_on {
      left: calc(100% - getCssVar('switch', 'height') + 1px);
    }

    &_off {
      left: 0px;
    }
  }
}
