@use 'sass:map';

@use '../mixins/function.scss' as *;

// Color
$colors: () !default;
$colors: map.deep-merge(
  (
    'white': (
      'default': #ffffff,
    ),
    'yellow': (
      'default': #fded70,
      'light-1': #ffe456,
    ),
    'black': (
      'default': #000000,
      'light-1': #0a0b0d,
      'light-2': #18181a,
      'light-3': #212123,
      'light-4': #2b2b2e,
      'light-5': #1b1e22,
    ),
    'grey': (
      'default': #e4eaf1,
      'light-1': #b4c3d3,
      'light-2': #4c4d4f,
    ),
  ),
  $colors
);

// Background
$bg-color: () !default;
$bg-color: map.merge(
  (
    'page': getCssVar('color', 'black', 'light-2'),
    'block': getCssVar('color', 'black', 'light-3'),
    'block-darker': getCssVar('color', 'black', 'light-5'),
  ),
  $bg-color
);

// Border
$border-color: () !default;
$border-color: map.merge(
  (
    '': getCssVar('color', 'black', ''),
  ),
  $border-color
);

// Text
$text-color: () !default;
$text-color: map.merge(
  (
    '': getCssVar('color', 'white', ''),
    'yellow': getCssVar('color', 'yellow', ''),
  ),
  $text-color
);

// Button
$button: () !default;
$button: map.merge(
  (
    'bg-color': getCssVar('color', 'black', 'light-4'),
    'bg-color-hover': getCssVar('color', 'black', 'light-2'),
    'text-color': getCssVar('color', 'grey', ''),
  ),
  $button
);

// Radio
$radio: () !default;
$radio: map.merge(
  (
    'bg-color': getCssVar('color', 'black', 'light-4'),
    'bg-color-hover': getCssVar('color', 'black', 'light-2'),
    'bg-color-checked': getCssVar('color', 'black', 'light-1'),
    'text-color': getCssVar('color', 'grey', ''),
    'text-color-checked': getCssVar('color', 'grey', 'light-1'),
  ),
  $radio
);

// Switch
$switch: () !default;
$switch: map.merge(
  (
    'bg-color-off': getCssVar('color', 'grey', 'light-2'),
    'bg-color-on': getCssVar('color', 'yellow', 'light-1'),
    'core-color': getCssVar('color', 'white', ''),
  ),
  $switch
);
